.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
build/
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
.env
.env.local
.env.production
postgres-data
android/.gradle
android/build
android/.idea
android/*.iml
android/.DS_Store
android/*.apkm  
android/*.apk
android/*.aab
android/*.ap_
android/*.dex
android/captures
android/.externalNativeBuild
android/.cxx
android/output-metadata.json